<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Adopting a Dog</title>

    <!-- Additional CSS Files -->

    <link rel="icon" type="image/png" href="images/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/adoption.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="help-info">
            <h1>Adopting Stray Dogs</h1>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    
    <section class="search-section">
       
        <form action="/adopt" method="POST" class="search-section" role="search">
            
            <label for="search">Search for stuff</label>
            <input id="search" name="city" type="search" placeholder="Search by City" autofocus required />
            <button>Go</button>
        </form>
    </section>


    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <% for(var i=0; i<dog_info.length; i++) { %>
            <div class="row card">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="uploads/<%= dog_info[i].img %>" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title"><strong><%= dog_info[i].name %> </strong></h2>
                        <h2 class="section-title"><strong><%= dog_info[i].number %> </strong></h2>
                        <h2 class="section-title"><strong><%= dog_info[i].city %> </strong></h2>
                        <h2 class="section-title"><strong><%= dog_info[i].state %> </strong></h2>
                        <h2 class="section-title"><strong><%= dog_info[i].pin %> </strong></h2>

                    </div>

                </div>
            </div>

            <%  } %>

        </div>

       <div class="home" >
        <a href="/"><img src="login/images/home.png" alt="" id="home-icon-back"></a> 
       </div>   

    </section>




    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright © PAW HELPER 2021<br>
                        Developed by <strong>TEAM UNFINISHED.</strong> </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

</body>

</html>